
{deps, [
    %% choose another version of mochiweb
    {mochiweb, "2.4.0",
     {git, "https://github.com/mochi/mochiweb.git"}},
    {webmachine, ".*", %% dangerous game! :D
     {git, "https://github.com/basho/webmachine.git"}}
]}.

{plugin_dir, "../src"}. %% hack!
{plugins, [rebar_inheritable_deps]}.

